import { ComponentFixture, TestBed } from '@angular/core/testing';
import { MockStore, provideMockStore } from '@ngrx/store/testing';

import { <%= componentClass %> } from './<%= componentFile %>';

describe('<%= componentClass %>', () => {
  let component: <%= componentClass %>;
  let fixture: ComponentFixture<<%= componentClass %>>;
  let store: MockStore;

  beforeEach(async () => {
    TestBed.configureTestingModule({
      providers: [provideMockStore()],
      <%= standalone ? 'imports' : 'declarations' %>: [<%= componentClass %>],
    });

    await TestBed.compileComponents();
  });

  beforeEach(() => {
    fixture = TestBed.createComponent(<%= componentClass %>);
    component = fixture.componentInstance;
    store = TestBed.inject(MockStore);

    fixture.detectChanges();
  });

  it('should create', () => {
    expect(component).toBeTruthy();
  });
});
